<mat-toolbar color="primary" role="header">
  <button mat-icon-button (click)="sidenavService.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="fill-remaining-space"></span>

  <h1>Joël CHRABIE <span class="sr-only">{{'devweb' | translate}}</span></h1>

  <span class="fill-remaining-space"></span>

  <button mat-icon-button routerLink="">
    <mat-icon>home</mat-icon>
    <span class="sr-only">Retour à la page d'accueil</span>
  </button>
  <button mat-icon-button (click)="toggleTheme()">
    <mat-icon>invert_colors</mat-icon>
    <span class="sr-only">Changer le thème</span>
  </button>
</mat-toolbar>