mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
#menu {
    &::before {
        content: " ";
        background-color: var(--background);
        height: 180px;
        position: absolute;
        z-index: -1;
        width: 180px;
        display: block;
        border-radius: 0 0 100% 100%;
        transform: translate(-53%, -71%);
    }
}