<mat-toolbar color="basic" role="footer">
    <mat-toolbar-row>
      <div id="devices">
        <mat-icon></mat-icon>
        <span>Vous êtes sur la version </span>
      </div>
      <a [href]="social.url" *ngFor="let social of socials" ng-if="socials.length">
        <button mat-mini-fab class="socialLinks">
          <img [src]="social.imagePath"/>
        </button>
        <span class="sr-only">{{social.title}}</span>
      </a>
      <app-speed-dial-fab></app-speed-dial-fab>
    </mat-toolbar-row>
  </mat-toolbar>