<mat-toolbar color="basic" role="footer">
    <mat-toolbar-row>
      <div id="devices">
        <mat-icon></mat-icon>
        <span>Vous êtes sur la version </span>
      </div>
      <a [href]="social.url" *ngFor="let social of socials" ng-if="socials.length">
        <button mat-mini-fab class="socialLinks">
          <img [src]="social.imagePath"/>
        </button>
        <span class="sr-only">{{social.title}}</span>
      </a>
      <button mat-button [matMenuTriggerFor]="menu">Menu</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>