<mat-card *ngIf="getCard()">
  <img mat-card-image [src]="getCard().imagePath" [alt]="getCard().imageAlt">
  <mat-card-header>
    <mat-card-title>{{getCard().title}}</mat-card-title>
    <mat-card-subtitle>{{getCard().subtitle}}</mat-card-subtitle>
  </mat-card-header>
  <button mat-fab color="primary" class="card-button">
    <mat-icon>{{getCard().icon}}</mat-icon>
  </button>
  <mat-card-content>
    <app-card-content [cardContent]="getCard().content" [isList]="isList"> </app-card-content>
  </mat-card-content>
</mat-card>