@import 'badge';
@import 'headers';

#contact {
    background-image: url(/assets/contact.jpg);
}

.container {
    justify-content: space-evenly;
    align-items: center;
}

#informations {
    flex: 1;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 300px;
    max-width: 500px;
}

:host ::ng-deep app-card {
    min-width: 300px
}

p.small.mat-line {
    color: rgba(255, 255, 255, 0.8);
    font-size: .8em;
}