@import 'badge';
@import 'headers';

#gmap {
    width: 100%;
    height: 30vh;
    color: black;
}

.container {
    justify-content: space-evenly;
    align-items: center;
}

#informations {
    flex: 1;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 260px;
    max-width: 500px;
}