
@import 'headers';

#skills {
    background-image: url(/assets/skills.jpg);
    background-color: var(--primary-light);
}

h2 {
    margin: 20px;
    font-size: 3em;
    flex: 0 0 94%;
}
h3 {
    flex: 0 0 94%;
}