@import 'breakpoint';
@import 'breakpoints';
@import 'colorss';

h2 {
    flex: 0 0 100%;
    display: flex;
    align-content: center;

    @include breakpoint ($breakpoint-medium) {
        flex: 0 0 80%;
    }

    mat-icon {
        color: $primary;
        margin-right: 20px;
    }
}