mat-sidenav {
    min-width: 300px;
}

main {
    margin: 30vh 64px 64px;
}

cookie-law .cookie-law-wrapper {
    background: var(--background-dark);

    .copy span {
        color: var(--text);
    }
}
