@import 'breakpoint';
@import 'breakpoints';

mat-sidenav {
  min-width: 300px;
}

main {
  margin: 90px 1em;

  @include breakpoint($breakpoint-large) {
    margin: 90px 64px 64px;
  }
}

cookie-law .cookie-law-wrapper {
  background: var(--background);

  .copy span {
    color: var(--text);
  }
}

.mat-fab.mat-primary,
.mat-flat-button.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
  background-color: var(--primary) !important;
}

.mat-drawer-content {
  mat-progress-bar {
    position: fixed;
    height: 10px;
    z-index: 2;

    rect {
      fill: var(--background-light);
    }
  }
}
