<div id="fab-dismiss"
     *ngIf="fabTogglerState === 'active'"
     (click)="onToggleFab()">
</div>
<div class="fab-container">
  <button mat-mini-fab class="fab-toggler" (click)="onToggleFab()">
    <mat-icon [svgIcon]="selectedLang === 'en' ? 'english' : 'france'"></mat-icon>
  </button>
  <div [@speedDialStagger]="buttons.length">
    <button *ngFor="let btn of buttons"
            mat-mini-fab
            [matTooltip]="btn.tooltip"
            matTooltipPosition="left"
            class="fab-secondary"
            (click)="changeTranslation(btn.lang)"
            [color]="btn.lang === selectedLang ? 'primary' : 'default'"
            color="secondary">
      <mat-icon [svgIcon]="btn.text"></mat-icon>
      <span class="sr-only" translate [translateParams]="{value: btn.tooltip}">changeLanguage</span>
    </button>
  </div>
</div>