<div id="fab-dismiss" 
     *ngIf="fabTogglerState === 'active'" 
     (click)="onToggleFab()">
</div>
<div class="fab-container">
  <button mat-mini-fab class="fab-toggler"
          (click)="onToggleFab()">
    <i class="material-icons" [@fabToggler]="{value: fabTogglerState}">flag</i>
  </button>
  <div [@speedDialStagger]="buttons.length">
    <button *ngFor="let btn of buttons"
            mat-mini-fab
            [matTooltip]="btn.tooltip"
            matTooltipPosition="left"
            class="fab-secondary"
            (click)="changeTranslation(btn.text)"
            [ngClass]="{active: btn.text === selectedLang}"
            color="secondary">
      <img [src]="'assets/' + btn.text + '.png'" alt="">
    </button>
  </div>
</div>