<div class="blog-container">
  <div class="author">
      <mat-card>
          <mat-card-header>
            <mat-card-title>Joël CHRABIE</mat-card-title>
            <mat-card-subtitle>{{'devweb' | translate}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div>Content</div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>{{'showMore' | translate}}</button>
          </mat-card-actions>
        </mat-card>
  </div>
  <div class="content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus orci, lacinia vitae efficitur et, semper dictum lacus. Etiam in leo leo. Etiam lacus ex, condimentum et lectus ut, cursus ultrices neque. Ut ut nibh ac risus aliquet ultrices. Suspendisse vitae mi ac lectus ultricies molestie non nec lacus. Duis hendrerit ex sit amet eleifend posuere. Nulla tristique urna at erat vehicula, ac posuere felis dapibus. Donec sed lacus nec libero cursus faucibus. Nullam pellentesque, lorem et dignissim porttitor, dui enim placerat mi, eu efficitur felis odio eget augue. Aenean sapien justo, laoreet at efficitur eget, aliquam vel mauris. Proin fermentum neque ante, nec lacinia velit feugiat vel. Donec feugiat orci tellus, in accumsan massa commodo ut. Fusce nulla est, eleifend vitae accumsan ac, sollicitudin et leo. Fusce auctor mattis luctus.
    </p>
    <p>
      Suspendisse ullamcorper tellus mauris, quis iaculis turpis iaculis quis. Fusce placerat suscipit ante, et malesuada tortor. Duis non sem tellus. Nam pellentesque nisl a purus bibendum, id vestibulum lectus hendrerit. Morbi iaculis ante et velit commodo, id volutpat sapien tristique. Vivamus quis rhoncus quam. Cras tempor ipsum ac urna auctor semper sed vel nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas vel tincidunt neque, ut pellentesque ipsum. Aenean sit amet turpis ex.
    </p>
    <p>
      Nulla pulvinar facilisis sapien. Mauris euismod sagittis sapien, a sollicitudin ante. Quisque sit amet aliquet metus. Phasellus mi nisl, interdum ut nunc sed, consectetur aliquam arcu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam lorem mauris, interdum vel malesuada vestibulum, ultricies ut erat. Curabitur ut turpis a urna placerat imperdiet et malesuada magna. Donec tincidunt et turpis at vehicula. Duis eu urna urna. Praesent ornare, justo quis faucibus cursus, massa ipsum varius neque, id ornare quam quam sed dolor.
    </p>
    <p>
      Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent viverra bibendum urna at blandit. Etiam id mi tristique, interdum risus ac, venenatis massa. Phasellus purus nulla, maximus non pellentesque in, dapibus at sapien. Proin vestibulum dictum nunc. Nunc in accumsan est. Nullam fringilla mollis feugiat. Nulla facilisi.
    </p>
    <p>
      Sed vitae sollicitudin ex. Aenean vitae neque blandit arcu sagittis volutpat in a felis. Nullam ac tellus at mi tempus tincidunt ac a eros. Donec ullamcorper orci vitae augue bibendum, at facilisis augue malesuada. Aliquam erat volutpat. Nam et ullamcorper turpis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse in elit pulvinar ex viverra bibendum sit amet vitae felis. Ut at accumsan mi, at euismod felis. Aenean feugiat magna et risus dapibus, ac porttitor tellus aliquet. Curabitur vestibulum maximus purus at blandit. Aliquam ante velit, gravida et lorem eu, euismod iaculis enim. Suspendisse potenti. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
    </p>
  </div>
  <div class="otherPosts"></div>
</div>
