@import 'breakpoint';
@import 'breakpoints';
@import 'headers';

app-experience, app-searchbar {
    flex: 0 0 100%;

    @include breakpoint ($mobile) {
        flex: 0 0 80%;
    }
}

.container {
    justify-content: space-around;
}

mat-accordion {
    width: 100%;

    @include breakpoint ($mobile) {
        width: 80%;
    }
}