@import 'breakpoint';
@import 'breakpoints';
@import 'headers';

#experiences {
    background-image: url(/assets/experiences.png);
}


.container {
    justify-content: space-around;

    app-experience, app-searchbar {
        flex: 0 0 100%;
    
        @include breakpoint ($breakpoint-medium) {
            flex: 0 0 80%;
        }
    }

    mat-accordion {
        width: 100%;
    
        @include breakpoint ($breakpoint-medium) {
            width: 80%;
            margin-bottom: 20px;
        }
    }
}
