@import 'theme';
@import 'breakpoint';
@import 'breakpoints';
@import 'background-images';
@import 'scrollbar';

body {
    margin: 0;
    font-family: Roboto;
}

mat-sidenav-container {
    height: 100vh;
}

app-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    justify-content: center;
    margin: 20px 0;


    @include breakpoint ($breakpoint-medium) {
        justify-content: space-around;
    }

    app-card {
        flex: 1;
        margin: 20px;
        min-width: 260px;
        max-width: 300px;
    }
}
