<div class="container">
    <h2 id="title">
        {{'devweb' | translate}}
        <span class="typing-element"></span>
    </h2>
    <div id="introduction">
        <div [innerHtml]="'introduction' | translate"></div>
        <span id="signature">- Joël</span>

        <h3>Don't hesitate to Share!</h3>
        <share-buttons [theme]="'circles-dark'"
            [include]="['facebook','twitter','linkedin']"
            [show]="3"
            [showText]="true"
            [url]="'https://www.joelchrabie.com'"
        ></share-buttons>
    </div>
</div>