@import 'badge';
@import "breakpoint";
@import "breakpoints";

.container {
    margin-left: 20%;
}

#title {
    margin: 20px;
    font-size: 3em;
    flex: 0 0 94%;
    height: 174px;

    @include breakpoint($breakpoint-medium) {
        height: 116px;
    }

    @include breakpoint($breakpoint-large) {
        height: initial;
    }

    .typing-element {
        color: var(--primary);
    }
}

#introduction {
    margin: 10px 20px 50px;
    font-size: 1.2em;
    flex: 0 0 94%;

    p {
        margin-bottom: 0;
    }
}

#signature {
    font-style: italic;
}